.app-wrapper {
  widows: 1200px;
  margin: 0 auto;

  display: grid;

  grid-template-areas:
    "header header"
    "nav content";

  grid-template-rows: 40px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
  grid-area: header;
  background-color: #D8D8D8;
}

.header img {
  width: 40px;
}

.nav {
  grid-area: nav;
  background-color: #D5DFFF;
}

.content {
  grid-area: content;
  background-color: #D8D8D8;
}

.content img {
  width: 100%;
}