.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 20px;
}

.dialogsItems .active {
    color: rgb(207, 86, 70);
}

.messages {
    padding: 20px;
}

.messages .message {
    padding: 5px;
}